@import '../../variables/variables.module';
@import '../common/global.module';

.detail {
    & th.ant-table-cell {
        font-size: 16px;
        text-align: center;
    }

    & th.ant-table-cell:first-child {
        width: 2%;
        font-size: 16px;
        text-align: center;
    }
    & th.ant-table-cell:nth-child(2) {
        width: 20%;
        font-size: 16px;
        text-align: center;
    }
    & th.ant-table-cell:nth-child(3) {
        width: 2%;
        font-size: 16px;
        text-align: center;
    }
    & th.ant-table-cell:nth-child(4) {
        width: 5%;
        font-size: 16px;
        text-align: center;
    }
    & th.ant-table-cell:nth-child(5) {
        width: 5%;
        font-size: 16px;
        text-align: end;
    }
}
