.quantityInput {
  & .ant-input-number {
    width: 56px;
    height: 40px;
    padding-top: 4px;
  }

  & .ant-input-number:focus,
  & .ant-input-number-focused {
    border: 2px solid #40a9ff;
    border-right-width: 2px !important;
  }
}
