@import '../../variables/variables.module';

.paymentMethod {
  margin-top: 56px;
}
.header {
  font-size: 20px;
  font-weight: 500;
}

.paymentOtps {
  margin-top: 8px;
}

@media (max-width: 1025px) {
  .paymentMethod {
    margin-top: 16px;
  }
}
