@import '../../variables/variables.module';

.breadcrumb {
    padding-top: 100px;

    text-transform: capitalize;

    & a,
    & span {
        font-size: 15px;
    }
}

.heading {
    display: flex;
    justify-content: space-between;

    & h2 {
        margin: 0 auto;
        font-size: 32px;
    }
}
