@import '../../variables/variables.module';

.main {
    flex-grow: 1;
}

.productList {
    margin-top: 16px;
}

.row {
    & img {
        object-fit: cover;
        height: 300px;
    }
}

.detail {
    & .name {
        font-size: 16px;
    }

    & .price {
        @extend .name;
        margin-top: 8px;
        margin-bottom: -4px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
