@import '../../variables/variables.module';
@import '../common/global.module';

.main {
    flex-grow: 1;
}

.dropdown {
    display: flex;
    justify-content: flex-end;

    margin-top: 32px;

    & .text {
        margin-right: 16px;
        padding-top: 8px;

        font-size: 16px;
        font-weight: 500;
    }
}

.productList {
    margin-top: 16px;
}

.row {
    & img {
        object-fit: cover;
        height: 300px;
    }
}

.detail {
    & .name {
        font-size: 16px;
    }

    & .price {
        @extend .name;
        margin-top: 8px;
        margin-bottom: -4px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}
