@import '../../variables/variables.module';

.sidebar {
  min-width: 232px;
  & span {
    font-size: 16px;
  }
}

.price {
  margin-top: 48px;

  display: flex;
  justify-content: flex-start;
  // gap: 40px;

  & .clearBtn {
    flex-grow: 1;
    margin-left: 20px;
    display: none;
  }

  & .clearBtn span {
    transform: translateY(-1px);
  }

  & .show {
    display: block;
  }
}

.rating {
  margin-top: 24px;
}

@media (max-width: 769px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }

  .clearBtn {
    position: absolute;
    right: 16px;
    margin-top: 0;
  }

  .price h3,
  .rating h3 {
    margin-bottom: 0;
  }

  .priceRadioGroup,
  .ratingRadioGroup {
    flex-direction: row;
  }
}

@media (max-width: 481px) {
  .sidebar {
    margin-top: -36px;
  }

  .priceRadioGroup,
  .ratingRadioGroup {
    flex-direction: column;
  }

  .clearBtn {
    margin-top: 0;
  }
}
