@import '../../variables/variables.module';

.dropdown {
  display: flex;
  justify-content: flex-end;

  margin-top: 32px;

  & .text {
    margin-right: 16px;
    padding-top: 8px;

    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width: 769px) {
  .dropdown {
    margin-top: 12px;
    margin-bottom: 28px;
    justify-content: flex-start;
  }
}

@media (max-width: 481px) {
  .dropdown {
    margin-top: 4px;
    margin-bottom: 24px;
  }
}
