@import '../../variables/variables.module';

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 64px;
  margin-bottom: 28px;

  & span:first-child {
    font-size: 24px;
    font-weight: 700;
  }

  & span:last-child a {
    color: #808089;
  }
}

.row {
  & img {
    object-fit: cover;
    height: 350px;
  }
}

.name {
  line-height: 1.4;
  font-size: 18px;
}

.rating {
  margin-top: 10px;
}

.price {
  font-size: 17px;
  line-height: 1.4;

  margin-top: 10px;
}

.cardItem {
  width: 280px;
}

.card {
  width: 100%;
}

@media (max-width: 1441px) {
  .cardItem {
    width: 260px;
  }
}

@media (max-width: 1025px) {
  .title {
    margin-top: 36px;
    margin-bottom: 16px;
  }

  .relatedProductRow {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
  }

  .row {
    & div:first-child {
      row-gap: 24px !important;
    }
  }
}

@media (max-width: 769px) {
  .title {
    margin-top: -100px;
    margin-bottom: 24px;
  }

  .relatedProductRow {
    justify-content: space-between;
  }
}

@media (max-width: 481px) {
  .title {
    margin-top: -24px;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .relatedProductRow {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}

@media (max-width: 376px) {
  .title {
    margin-top: 36px;
  }
}