@import '../../variables/variables.module';

.relatedProduct {
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 64px;
  margin-bottom: 28px;

  & span:first-child {
    font-size: 24px;
    font-weight: 700;
  }

  & span:last-child a {
    color: #808089;
  }
}

.row {
  & img {
    object-fit: cover;
    height: 350px;
  }
}

.name {
  line-height: 1.4;
  font-size: 18px;
}

.rating {
  margin-top: 10px;
}

.price {
  font-size: 17px;
  line-height: 1.4;

  margin-top: 10px;
}

.cardItem {
  width: 280px;
}

.card {
  width: 100%;
}

@media (max-width: 1441px) {
  .cardItem {
    width: 260px;
  }
}
