@import '../../variables/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 10;

    background-color: $primary-color;

    min-height: 56px;
    width: 100%;

    & .logo {
        margin-left: 20px;
        margin-top: 4px;

        & img {
            object-fit: contain;
            width: 100px;
        }
    }
}



.menu {
    width: 600px;

    height: 57px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

    font-weight: 500;

    margin-bottom: 0;

    & a {
        color: $fourth-color;
    }

    & .menuItem:hover > a {
        color: $secondary-color;
        transition: color 0.3s ease-in-out;
    }
}

.icon {
    color: #fdfffe;
    font-size: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;

    margin-right: 8px;

    &:hover {
        color: $secondary-color;
        transition: color 0.3s ease-in-out;
    }
}
